
.thumbs{
    display: none;
}

@media screen and (min-width:768px) {
    .thumbs{
        display: flex;
        flex-direction: row;
    }
}

.closed{
    display: none;
}

.product-acrd-lnk.closed{
    display: none;
}